wordpress/wp-content/uploads
wordpress/wp-content/w3tc
wordpress/wp-content/avatars
wordpress/wp-content/cache
wordpress/local-config.php
.buildpath
.project
.settings
*sublime*
*.sass-cache*
*debug.log*
docs
db
*~
.DS_Store