wordpress/.htaccess
wordpress/wp-content/themes/krondafrank/compass_app_log.txt
wordpress/wp-content/uploads
wordpress/wp-content/w3tc
wordpress/wp-content/avatars
wordpress/wp-content/cache
wordpress/wp-content/debug.log
wordpress/local-config.php
debug_log.txt
.buildpath
.project
.settings
db
docs/
*~
*debug.log*
.DS_Store
/.gitattributes
*compass_app_log.txt*
*.sass-cache/
*.sublime*
*compass_app_log.txt*
webroot
backups