div.opt_in_template_wrapper {
    margin: 0px auto;
    overflow: hidden;
    width: 69%;
}

div.opt_in_template {
    background: #eeeeee;
    border: 2px solid #eeeeee;
    float: left;
    margin: 15px 4% 15px 0px;
    position: relative;
    padding: 14px 0px;
    text-align: center;
    width: 30%;
}
div.opt_in_template:nth-child(3n) {
    margin-right: 0px;
}

.template_image {
    height: 85%;
    position: relative;
    width: 85%;
}

div.opt_in_template:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.tick {
    background-image: url('../images/tick_black.png') !important;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 42px;
    z-index: 100;
}

.selected {
    border: 2px solid #d54e21 !important;
    background: #ffffff !important;
}

/*.thrive_form_label {*/
/*font-weight: bold;*/
/*font-size: 14px;*/
/*font-family: Tahoma;*/
/*float: left;*/
/*margin: 10px;*/
/*}*/

.thrive_option_container {
    display: block;
    position: relative;
    /* margin: 10px;*/
    vertical-align: middle;
}

.thrive_option_container input, .thrive_option_container select {
    height: auto;
    overflow: hidden;
    padding: 5px;
    /*float: left;
    position: absolute;
    left: 200px;*/
    vertical-align: middle;
}

.thrive_option_container input, .thrive_option_container textarea {
    width: 70%;
}

.thrive_option_container #add_mailing_list, #thrive-link-focus-preview {
    /*float:left;
    left:400px;
    position:absolute;*/
    line-height: 20px;
}

.thrive_options_panel {
    background: #eeeeee;
    margin: 0px auto;
    overflow: hidden;
    padding: 1% 5% 20px 5%;
    width: 59%;
}

#thrive-link-focus-preview {
    display: block;
    margin: 0px auto;
    width: 150px;
}

div#side-sortables input[type="radio"] {
    margin-left: 10px;
}

.focusEdit {
    margin-top: 0px;
    max-width: 100%;
}

.colm {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    float: left;
    margin-right: 6%;
}

.colm.lst {
    margin-right: 0;
}

.fic {
    width: 15.2%;
}

.foc {
    width: 20.5%;
}

.thc {
    width: 29.3%;
}

.twc {
    width: 47%;
}

.tth {
    width: 65%;
}

.oth {
    width: 29%;
}

.tfo {
    width: 73%;
}

.ofo {
    width: 20.5%;
}

#thrieve_btn_focus_image {
    width: 100px;
}

.imgButtons .pure-button {
    float: left;
}

.imgButtons .pure-button.remove {
    line-height: 21px;
    margin-left: 10px;
}
#poststuff #post-body.columns-2 {
    /*margin-right: 0px !important;*/
}
#container-focus-preview .wrp {
    width: 96%;
}
#container-focus-preview .far hr {
    margin: 20px -15px;
}