#nav {
  .genesis-nav-menu > li {
    @include media($mobile) {
      float: left;
      width: 50%;
      text-align: center;
    }
  }
}


.genesis-nav-menu li li a, 
.genesis-nav-menu li li a:link, 
.genesis-nav-menu li li a:visited {
  @include media($mobile) {
    width: 10em;
  }
  @include media($tablet) {
    width: 20em;
  }

  
}
#subnav {
  width: 100%;
  position: absolute;
  top: 5px;
  left: 0; 

  @include media($tablet) {
    width: auto;
    left: auto;
    right: 10px;

    .donate {
      clear: both;
      margin-left: 38%;
      width: 154px;
      text-align: center;

      a {
        min-height: 55px;
      }
    }
  }

  .email-list {
    position: relative;
    @include media($ipad) {
      vertical-align: 35%;
    }
    @include media($tablet) {
      margin-top: 5px;
    }
    @include media($mobile) {
      display: none;
    }
  }
  .genesis-nav-menu {
    text-align: right;
  }
  .genesis-nav-menu a {
    padding: 0.5em;
  }
  .fontawesome-text {
    @extend %visuallyhidden;
  }


}

// Constant Contact Widget
.widget_sf_widget_constantcontact .widget-wrap {
  input {
    margin-bottom: 1.5em;
  }
}

