/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if lte IE 9]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 9, ../sass/ie.scss */
body, p, ol, ul, li, a {
  font-size: 16px !important;
}

/* line 12, ../sass/ie.scss */
.nav-menu li a {
  padding: 25px 12px !important;
  letter-spacing: .12em !important;
}

/* line 16, ../sass/ie.scss */
.main-navigation ul.sub-menu {
  margin-top: 50px !important;
}

/* line 21, ../sass/ie.scss */
.ie_js .main-navigation ul.sub-menu {
  margin-top: 56px;
}
/* line 24, ../sass/ie.scss */
.ie_js #menu-main-menu:after {
  display: table;
  clear: both;
  content: "";
}
/* line 29, ../sass/ie.scss */
.ie_js .header-center .search-form input[type="search"] {
  width: 217px;
}
/* line 32, ../sass/ie.scss */
.ie_js .home-social-icons {
  width: 208px;
}
/* line 35, ../sass/ie.scss */
.ie_js .nav-menu li a {
  padding-left: 28px;
  padding-right: 28px;
}
/* line 39, ../sass/ie.scss */
.ie_js #menu-item-23 {
  float: right;
}
/* line 41, ../sass/ie.scss */
.ie_js #menu-item-23 a {
  background: #ff6633;
  color: #FFF;
  font-weight: bold;
}
/* line 48, ../sass/ie.scss */
.ie_js #menu-blog-sidebar-menu li .current_page_parent > a,
.ie_js #advanced_sidebar_menu-2 .parent-sidebar-menu .current_page_item > a {
  background: #E3E3E3;
}
/* line 51, ../sass/ie.scss */
.ie_js .metaslider .caption-wrap {
  background: #8cb366;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
/* line 55, ../sass/ie.scss */
.ie_js .metaslider .cs-metaslider .flex-control-nav {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
/* line 58, ../sass/ie.scss */
.ie_js .metaslider .cs-metaslider .flex-control-paging li a {
  background: #FF6633;
}
/* line 61, ../sass/ie.scss */
.ie_js .metaslider .cs-metaslider .flex-control-paging li a.flex-active {
  background: #FCB034;
}
/* line 64, ../sass/ie.scss */
.ie_js .content-area {
  width: 73%;
  float: right;
  padding: 0;
}
/* line 69, ../sass/ie.scss */
.ie_js .content-area article {
  padding: 40px 40px 0 40px;
}
/* line 73, ../sass/ie.scss */
.ie_js .home .content-area {
  width: 100%;
  margin: 0 auto;
  float: none;
}
/* line 79, ../sass/ie.scss */
.ie_js .page .footer-wrapper .column {
  display: inline;
  width: 400px;
}
/* line 86, ../sass/ie.scss */
.ie_js #colophon .sponsor-logos {
  width: 308px;
  padding-left: 78px;
}
/* line 90, ../sass/ie.scss */
.ie_js #colophon .site-info {
  width: 330px;
}
