body {
  direction: rtl;
  unicode-bidi: embed;
}

header {
  #nav_right {
    text-align: right;
  }
  .side_logo {
    #logo, #text_logo {
      text-align: right;
    }
  }
  nav {
    li.col-no-2,
    li.col-no-3,
    li.col-no-4,
    li.col-no-5 {
      .colch {
        text-align: right;
      }
    }
  }
}

.bSe {
  table {
    td, th {
      text-align: right;
    }
  }
}

#wp-calendar {
  td#prev {
    text-align: right;
  }
  td#next {
    text-align: left;
  }
}

.gallery {
  dl {
    text-align: right !important;
  }
}

.shortcode_tabs {
  &.vert_tabs {
    .scT {
      > ul li{
        text-align: right;
      }
    }
  }
}

.f2 {
  .right {
    text-align: left;
  }
}

.scn ul li a {
  margin-right: 15px;
}

.scT .scTC .noImageTab {
  p, i {
    margin-right: 15px;
  }
}

.scn > ul li.recentcomments:after {
  right: -10px;
}

.cnt .bpd .out {
  margin-right: -2500px;
}

.fullWidth .out {
  margin-right: -2500px;
}

.mbi .mbr {
  text-align: right;
}