$normalSize: 1em; /*13px;*/
$darkGray: #1a1a1a; //da
$gray: #484848; //nu
$content_gray: #181818; //da
$lightGray: #bbbbbb; //da
$textGray: #141414; //da
//theme name, dark color, light color;
$contentBox:
  'blue' #537ea2 #e7f1f9,
  'green' #408c52 #e9f6ec,
  'light' #ffffff #ededed,
  'note' #faf8d7 #fffef0,
  'orange' #e58406 #faeacd,
  'purple' #7c5f95 #f0e7f8,
  'red' #9f1a1a #f9ecec,
  'teal' #42a593 #ddf3ef;
$darkContentBox:
  'dark' #2c2c2c #2c2c2c;
$themeColors:
  'blue' #537ea2 #e7f1f9,
  'dark' #2c2c2c #2c2c2c,
  'green' #408c52 #e9f6ec,
  'light' #ffffff #ededed,
  'orange' #e58406 #faeacd,
  'purple' #7c5f95 #f0e7f8,
  'red' #9f1a1a #f9ecec,
  'teal' #42a593 #ddf3ef;

$widgetColors:
  'blue' #2980b9 #1d5981,
  'dark' #5b5b5b #a6a6a6,
  'green' #27ae60 #1b7943,
  'light' #e8e8e8 #fdfdfd,
  'purple' #8e44ad #632f79,
  'red' #7a0048 #e06fa2,
  'orange' #fbb128 #ffe861,
  'teal' #18597d #679dc6;

$appr-bg:
'blue' #28cdfb,
'brown' #736357,
'dark' #34495e,
'liliac' #7b0046,
'navy' #005b7f,
'pink' #fcb4e6,
'purple' #8562a3,
'red' #ff4351,
'yellow' #feae1b;
