.cnt article ul.meta {
    list-style-image: none;
}
.cnt article ul.meta li {
    display: block;
    float: left;
}
.fsc li {
    display: block;
    float: left;
}
.cnt .bSe article {
    position: static;
}
.cnt .bSe article .awr {
    position: relative;
    overflow: hidden;
}
.bp-t {
    display: block;
    text-align: center;
}
.bp-t:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    vertical-align: middle;
}
.bp-t .wrp {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}